name: Build MicKeeper

on: [push]

jobs:
  build_windows:
    name: Build Windows EXE
    runs-on: windows-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Go
        uses: actions/setup-go@v4
        with:
          go-version: 1.22

      - name: Download PortAudio DLL
        run: |
          curl -L -o portaudio.zip https://files.portaudio.com/archives/pa_stable_v190700_20210406.zip
          powershell Expand-Archive portaudio.zip -DestinationPath ./portaudio


      - name: Build Windows EXE
        run: |
          go mod tidy
          go build -ldflags="-H windowsgui" -o mic_keeper.exe

      - name: Upload Windows artifact
        uses: actions/upload-artifact@v4
        with:
          name: mic_keeper_windows
          path: mic_keeper.exe

  build_linux:
    name: Build Linux Binary
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Go
        uses: actions/setup-go@v4
        with:
          go-version: 1.22

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y \
            libportaudio2 portaudio19-dev \
            xorg-dev libgl1-mesa-dev libxcursor-dev \
            libxrandr-dev libxinerama-dev libxi-dev libx11-dev

      - name: Build Linux binary
        run: |
          go mod tidy
          GOOS=linux GOARCH=amd64 CGO_ENABLED=1 go build -o mic_keeper

      - name: Upload Linux artifact
        uses: actions/upload-artifact@v4
        with:
          name: mic_keeper_linux
          path: mic_keeper
